.sections {
  
}

.section {

}

.question2 {
  text-align: center;
  height: 90vh;
  width: 90vw;
  padding: 10vh 0;
  font-size: 1.5rem;
  background-color: $blue-gray;


  &__content {
    max-width: 700px;
    margin: 0 auto;
    height: 50vh;
  }

  h3 {
    color: $white;
    font-size: 1.3rem;
    text-transform: uppercase;
    opacity: .2;
  }

  p {
    color: $white;
    height: 20vh;
  }

  .guidance {
    height: 20vh;
    padding: 50px 0;
     
    p {
      color: $white;
    }
  }
}

.slick-arrow {
  position: fixed;
  top: 100px;
  z-index: 1000;

  .material-icons { font-size: 3rem; }
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}