---
layout: default
title:
---

<main role="main" class="wrapper"> <!-- main content starts here -->
  <header>
    <span class="button report-button">Report</span>  
  </header>
    
  <div class="question-list">    
  {% for section in site.data.data %}
    <h1>{{section.theme}}</h1>
    {% for i in section.questions %}
    <div id="" class="question">
      <div class="question__content">
        <h3>{{i.theme}}</h3>
        <p>{{i.question}}</p>
        <div class="question__controls">
          <button class="questionnaire-button questionnaire-button--yes js-yes"><i class="material-icons">check</i></button>
          <button class="questionnaire-button questionnaire-button--no js-no"><i class="material-icons">close</i></button>
        </div>
      </div>
      <div class="guidance">
        <p>{{i.guidance}}</p>
      </div>
    </div>
    {% endfor %}
  {% endfor %}
  </div>

  
  

  <div class="modal report-modal">
    <h1>Report</h1>
    {% for section in site.data.data %}
      <h2>{{section.theme}}</h2>
      {% for i in section.questions %}
      <div id="" class="report">
        <p class="report__question">{{i.question}}</p>
        <p class="report__guidance">{{i.guidance}}</p>
      </div>
      {% endfor %}
    {% endfor %}
  </div>


</main>
